
.img-circle {
    border-radius: 50%;
    border-color: #721675;
    border-width: medium;
    align-items: center;


}

.cardAnim {
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardAnim:hover {
  transform: scale(1.2);
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.cardAnim:hover:before {
  opacity: 1;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

body{
 background-color: #4d0a4f;
 font-family: 'Dosis', sans-serif;
}

.title{
  font-family: 'Lobster', cursive;
  color: #4d0a4f;

}
